<div id="footer">

	<div class="width-setter">
		<div id="footer-text">
			<div>If you need any further information please do not hesitate contacting <a href="mailto:matvey@plasticjam.com">matvey@plasticjam.com</a></div>

			<div class="pull-right">
				Btw, developed and assembled at
				<a href="http://plasticjam.com/">PlasticJam</a><br class="notresponsive">
				<a href="/privacy">Privacy policy</a> |
				<a href="/terms">Terms of use</a>
			</div>

			<div class="like-buttons">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-hashtags="studyjam">Твитнуть</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone" data-size="medium"></div>

			</div>
		</div>
	</div>
</div>
