<div id="footer">

    <div class="adv-wrap">
        <div class="adv">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Click to support 8biticon.com! -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-8628968677136386"
                 data-ad-slot="2200769557"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
	<div class="width-setter">
		<div id="footer-text">
			<div class="pull-right">
				Btw, developed and assembled at 
				<a href="http://plasticjam.com/">PlasticJam</a><br>
				<a href="/privacy">Privacy policy</a> | 
				<a href="/terms">Terms of use</a>
			</div>
			<div>If you need any further information please do not hesitate contacting <a href="mailto:matvey@plasticjam.com">matvey@plasticjam.com</a></div>
			<div class="like-buttons">
				<!-- Put this div tag to the place, where the Like block will be -->
				<div id="vk_like"></div>
				<script type="text/javascript">
					VK.Widgets.Like("vk_like", {type: "mini"});
				</script>

				<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-hashtags="studyjam">Твитнуть</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone" data-size="medium"></div>

			</div>
		</div>
	</div>
</div>