	<div id="header">
		<div class="width-setter">
			<a href="https://github.com/matveyco/8biticon" target="_blank" class="butn pull-right">
				Get those sources fast!
			</a>

            <a href="https://play.google.com/store/apps/details?id=com.mgrach.eightbiticon&amp;utm_source=8biticon.com" target="_blank" class="get-it pull-right">
 				<img alt="Get it on Google Play" src="/static/images/Get_it_on_Google_play.svg.png">
 			</a>

			<a href="/" class="heading">
			8bit<span class="whitecolor">icon.com</span>
			</a>
		</div>
	</div>