<!DOCTYPE html>
<html>
<head>
	<title>8biticon | Make Your Own Pixel-Art Avatar | Millions of Userpics</title>
	<meta name="description" content="8biticon.com is a quirky pixel-art avatar maker.You can create an 8-bit avatar of yourself for absolutely free! Get millions of userpics right now!" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta property="og:image" content="https://8biticon.com/static/images/index/dart-vaider.big.png" />
	<meta property="og:url" content="http://8biticon.com" />

	<link type="image/png" rel="icon" href="/static/images/index/favicon.jpg" />

	<link type="text/css" href="/static/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/styles.css" rel="stylesheet" />

	<link type="text/css" href="/static/css/index.css" rel="stylesheet" />
	<link type="text/css" href="/static/fonts/fipps/stylesheet.css" rel="stylesheet" />

	<!-- block css -->
	<link type="text/css" href="/static/8bit/css/8biticon.css" rel="stylesheet" />
	<link type="text/css" href="/static/external/jscrollpane/style/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<!-- endblock -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script src="/static/javascripts/jquery.cookie.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	<!-- block js -->
	<script src="/static/8bit/js/waitForImages.js"></script>
	<script src="/static/8bit/js/8biticon.js"></script>

	<script type="text/javascript" src="/static/external/jscrollpane/script/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/external/jscrollpane/script/jquery.jscrollpane.min.js"></script>

	<script src="/static/javascripts/bootstrap-modal.js"></script>
	<script src="/static/javascripts/bootstrap-dropdown.js"></script>
	<script src="/static/javascripts/bootstrap-transition.js"></script>
	<script src="/static/8bit/js/bootstrap-carousel.patched.js"></script>
	<!-- endblock -->
</head>
