	<div id="header">
		<div class="width-setter">
			<a href="https://github.com/matveyco/8biticon" target="_blank" class="butn pull-right">
				Get those sources fast!
			</a>

			<a href="/" class="heading">
			8bit<span class="whitecolor">icon.com</span>
			</a>
		</div>
	</div>
