	<div id="header">
		<div class="width-setter">
			<a href="https://github.com/matveyco/8biticon" target="_blank" class="btn btn-primary btn-large pull-right">
				Get those sources fast!
			</a>

            <a href="https://play.google.com/store/apps/details?id=com.mgrach.eightbiticon&amp;utm_source=8biticon.com" target="_blank" class="get-it pull-right">
 				<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png">
 			</a>

			<a href="/" class="heading">
			8bit icon.com
			</a>
		</div>
	</div>