
<% include ./partials/header %>

<link type="text/css" href="/static/css/donation.css" rel="stylesheet" />
<script src="/static/javascripts/emails.js"></script>

<% include ./partials/head %>

<div id="wrapper">
	<div id="donation-page">
		<div class="width-setter">
			<div id="donation-text">
				<h2>Great news, everybody!</h2>
				<p>Good friends of ours are developing a very exciting online game, with an interesting gameplay, which no one encountered before. For now we can only reveal that the game will inherit elements of strategic and economic online games. </p>
				<p>
				The creative content of the game will be designed by 8biticon!   And tons of other interesting things and surprises. While the game is in a closed development stage, you can learn about it first!</p>
				<p>
				Just leave your email here and get access to the first limited beta test:
				</p>
				<br>
				<div class="inputs">
					<input type="text" name="name" placeholder="name" id="namefield">
					<input type="text" name="email" placeholder="e-mail" id="emailfield">
					<button onClick="sender()" class="butn coffesubmiter">Sounds fun! I would like to know more!</button>
					<p id="compliete" hidden>
						<img src="/static/images/tick.png" class="coffeetick"> We will mail you.
					</p>					
				</div>

			</div>

		</div>
	</div>
</div>

<% include ./partials/footer %>