<% include ./partials/header %>

<body>

<div id="wrapper">

	<% include ./partials/head %>

	<!-- block content -->
	<div id="constructor">
		<div class="width-setter">
			<div class="page-header">
				<h1>Pixel art icon constructor <small>Customizable avatars for everyone.</small></h1>

				<div class="force-vader">
					<img src="/static/images/index/dart-vaider.png" title="Pixel art Darth Vader avatar" alt="Pixel art Darth Vader avatar" />
					<span class="wisdom">May the Pixels be with you!</span>
				</div>
			</div>

			<div class="pixel-loading">
				<div class="headline b">Loading <span class="percent"></span></div>
				<div class="progress progress-striped active"><div class="bar"></div></div>
			</div>


			<div class="somegoods somegoods300" id="constructor-adc">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- 8bit-Large -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:300px;height:600px"
				     data-ad-client="ca-pub-8628968677136386"
				     data-ad-slot="7542125557"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>

			<div class="somegoods somegoods160" id="constructor-adc">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- 8bit-Smaller -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:160px;height:600px"
				     data-ad-client="ca-pub-8628968677136386"
				     data-ad-slot="4449058357"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>

			<div id="constructor-panel" class="pixel">
				<div class="viewport">
					<div class="viewport-col modal-col">
						<div class="carousel slide">
							<div class="carousel-inner">
								<div class="item"></div>
							</div>
						</div>
					</div>

				<div id="action-buttons" class="responsive">
					<div class="btn-group">
						<button class="downbutton download" data-action="/constructor/download/">Download this image</button>
					</div>
				</div>


					<div class="viewport-col scrollee-col">
						<div class="group">
							<a href="javascript://" class="layers-regenerate underdash">Random image</a>

							<div class="malefemale">
								<a href="javascript://" class="group-control male focusedmale" data-group="male">Male</a>
								<a href="javascript://" class="group-control female" data-group="female">Female</a>
							</div>

						</div>

						<div class="tabs-bar">
							<ul class="nav nav-pills tabs">
								<li class="tab"><a href="javascript://" class="tab-text"></a></li>
							</ul>
						</div>

						<div class="layers">
							<div class="layer" style="height: 240px; max-width: 535px; ">
								<div class="item"><span></span></div>
							</div>
						</div>

					</div>
				</div>

				<div id="action-buttons" class="notresponsive">
					<div class="btn-group">
						<button class="downbutton download" data-action="/constructor/download/">Download this image</button>
					</div>
				</div>

				<div id="buy-me-a-coffee">
					<img src="/static/images/info.png" class="attentionimg">
					<b>Attention!</b> Do you want to be the first to get an access to a very exciting pixel game? <a href="/great_news" class="buycoffee">For more information click here.</a><img src="/static/images/game.png" class="gameicon">
				</div>

				<div class="belowad response">

				</div>
			</div>


		</div>
        <!-- csrf_token -->
	</div>
	<script type="text/javascript">
		jQuery(function ($) {
			var group = 'male';

			var constructor = $("#constructor-panel"),
					constructor2 = $("#constructor-adc"),
					loader = $(".pixel-loading");

			constructor.pixel({
				images: '/static/8bit/img/',
				json: '/static/8bit/js/8settings.json?240313',
				selected: true,
				startup: {
					layer: 'background',
					group: group
				},
				onLoaded: function () {
					constructor.show();
					constructor2.show();
					loader.hide();
				},
				onLoading: function (loaded, length) {
					constructor2.hide();
					var perc = Math.ceil(100 * loaded / length);

					loader.find('.headline span').text(perc + '%').end()
							.find('.bar').width(perc + '%');
				},
				onLayerSelect: function () {
					constructor.find('.layers .layer').jScrollPane();
				},
				onGroupSelect: function () {
					var $this = $(this),
							tabs = $this.find('.tabs .tab'),
							visible = tabs;

					tabs.removeClass('first last')
							.filter(':not(.hidden-group)')
							.first().addClass('first').end()
							.last().addClass('last').end()
							.filter(':not(:first)').addClass('not-first');
				}
			});

			$(".download").on('click', function (e) {
				var $self = $(this);
				$self.addClass('loading');

				$("#constructor-frame, #constructor-form").remove();

				var data = constructor.pixel('selected'),
						iframe = $('<iframe />').attr({
							src: 'about:blank',
							id: 'constructor-frame',
							name: 'iframe-' + $.now()
						}).hide().on('load', function () {
						}),
						form = $('<form />').hide()
								.attr({
									action: $self.data('action'),
									target: iframe.attr('name'),
									id: 'constructor-form',
									method: 'POST'
								}),
						token = $('<input type="hidden" />').attr({
							name: 'csrfmiddlewaretoken',
							value: $.cookie('csrftoken')
						}),
						encoded = $('<input type="hidden" />').attr({
							name: 'data',
							value: JSON.stringify(data)
						}),
						gender = $('<input type="hidden" />').attr({
							name: 'gender',
							value: constructor.pixel('group')
						});

				form.append(token).append(encoded).append(gender);
				form.add(iframe).appendTo(constructor);
				form.submit();
				$self.removeClass('loading');
			});
		});
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-36938395-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
    </script>
	<!-- endblock -->
	<script src="/static/javascripts/creator.js"></script>
</div>

<% include ./partials/footer %>

</body>
</html>
