
<% include ./partials/header %>


<link type="text/css" href="/static/css/donation.css" rel="stylesheet" />


<% include ./partials/head %>

<div id="wrapper">
	<div id="donation-page">
		<div class="width-setter">
			<div id="donation-text">
				<h2>Privacy Policy and Cookies Statement</h2>
				<p>
					8biticon was created to help people make new images. Your privacy is important to us and in these terms we will clarify about how your personal information is used and shared. By visiting the 8biticon website, you are accepting the practices outlined in this policy.
				</p>
				<h3>Personal information collection</h3>
				<p>8biticon may collect and use the following personal data:</p>
				<ul>
					<li>information about your use of this website;</li>
					<li>information you provide for the purpose of subscribing to the website services;</li>
					<li>any other information you send to 8biticon.</li>
				</ul>
				<h3>Using personal information</h3>
				<p>8biticon may use your personal information to:</p>
				<ul>
					<li>administer this website;</li>
					<li>enable your access to and use of the website services;</li>
					<li>send you marketing communications.</li>
				</ul>
				<p>8biticon may disclose your personal information to the extent required by law, in case of any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>
				<h3>Cookies</h3>
				<p>8biticon uses third-party advertising companies to serve ads when you visit our Web site. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements on this site and other sites about goods and services that may be of interest to you.</p>
				<p>Advertisements served by Google, as a third party vendor, use DART cookies. These cookies are used to serve ads based on your visit to this site and other sites on the Internet. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>
				<h3>Updating this statement</h3>
				<p>8biticon may update this privacy policy by posting a new version on this website.
	It is advised to check this page occasionally to make sure you are familiar with any changes.</p>
				<h3>Other websites</h3>
				<p>This website contains links to other websites.
	8biticon is not responsible for the privacy policies or practices of any third parties.</p>
				<h3>Contact 8biticon</h3>
				<p>If you have any questions about this privacy policy or 8biticon treatment of your personal information, please contact us by email to matvey@plasticjam.com</p>
			</div>

		</div>
	</div>
</div>

<% include ./partials/footer %>