<% include ./partials/header %>
<link type="text/css" href="{{ STATIC_URL }}css/donation.css" rel="stylesheet" />
<% include ./partials/head %>

<div id="wrapper">
	<div id="donation-page">
		<div class="width-setter">
			<div id="donation-text">
				<h2>TERMS OF USE</h2>
				<h3>Description of the Service</h3>
				<p>The Site is an online community which enables to create images.
	Your access to and use of the Site may be interrupted from time to time as a result of equipment malfunction, updating, maintenance or repair of the Site or any other reason within or outside the control of 8biticon.</p>
				<h3>User Conduct</h3>
				<p>As a condition of use, you promise not to use the Services for any purpose that is unlawful or prohibited by these Terms of Service, or any other purpose not reasonably intended by 8biticon. We respect other people’s rights and we expect you to do the same</p>
				<p>By way of example, and not as a limitation, you agree with the following paragraphs:</p>
				<ol>
					<li>not to abuse, harass, threaten, impersonate or intimidate other 8biticon users;</li>
					<li>not to use the service for any illegal or unauthorized purpose. If you are an international user, you agree to comply with all local laws regarding online conduct and acceptable content;</li>
					<li>to negotiate with the administration if you intend to use the service for any commercial purposes</li>
					<li>not to violate any laws in your jurisdiction (including but not limited to copyright laws);</li>
					<li>with the exception of accessing RSS feeds, you will not use any robot, spider, scraper or other automated means to access the Site for any purpose without our express written permission. Additionally, you agree that you will not:
						<p>- take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure;</p>
						<p>- interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site;</p>
						<p>- bypass any measures we may use to prevent or restrict access to the Site;</p>
					</li>
				</ol>
				<p>To report Terms of Use abuse, please Contact us.</p>
			</div>

		</div>
	</div>
</div>

<% include ./partials/footer %>