html, body {
  height: 100%; }

body {
  background: url("../images/index/background1.png");
  font-family: 'HeliosC';
  font-size: 14px; }

.width-setter {
  width: 1024px;
  margin: 0 auto; }

@media only screen and (max-width: 1024px) {
  .width-setter {
    width: auto; } }
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* for ie lol */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 180px; }

#header {
  height: 60px;
  background: #1b1b1b;
  color: #fff; }
  #header .heading {
    color: #fff;
    font-family: fippsregular;
    font-size: 32px;
    line-height: 56px; }
  #header a {
    margin: 8px 0 0; }

#footer {
  background: #181616;
  position: relative;
  margin-top: -80px;
  height: 75px;
  border-top: 5px solid #abb3c0; }

#footer-text {
  padding: 14px 0 10px;
  color: #67707c;
  font-size: 12px;
  line-height: 1.3; }
  #footer-text .like-buttons {
    margin: 10px 0 0;
    overflow: hidden;
    height: 25px; }
    #footer-text .like-buttons > div {
      vertical-align: top;
      display: inline-block; }

a:hover {
  text-decoration: none !important; }

a.underdash {
  border-bottom: 1px dashed; }
  a.underdash:hover {
    border: none; }

a.underline {
  text-decoration: underline; }
  a.underline:hover {
    text-decoration: none; }
