.pixel {
	position: relative;
}

.pixel .carousel {
	/*width: 400px;*/
	/*height: 400px;*/
	/*background: grey;*/
}

.pixel .carousel-inner {
	height: 100%;
}

/***********************/

.pixel .tabs .tab.active {
	/*background: red;*/
}

/***********************/

.pixel .layer {
	overflow: hidden;
	width: 100%;
}

.pixel .layer.active .tab {
	/*background: red;*/
}

.pixel .layer .item {
	/*width: 100px;*/
	/*height: 100px;*/

	/*float: left;*/
}

.pixel .layer .item.active {
	/*outline: 1px solid #000;*/
}

.pixel .layer .item img {
	width: 100%;
	height: 100%;
}

/***********************/

.pixel .carousel .layer-item {
	display: none;
}

.pixel .carousel .layer-active {
	display: block;

	position: absolute;
	top: 0;
	left: 0;
}

.pixel .carousel .mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/***********************/
